.social {
  text-decoration: none;
  color: #999999;
}

.social-facebook {
  &:hover, &:focus {
    color: #49659F;
    border-color: #49659F;
  }
  &:visited {
    background-color: #e9e9e9;
  }
}

.social-instagram {
  &:hover, &:focus {
    color: #9C785E;
    border-color: #9C785E;
  }
  &:visited {
    background-color: #e9e9e9;
  }
}

.social-linkedin {
  &:hover, &:focus {
    color: #1B86BC;
    border-color: #1B86BC;
  }
  &:visited {
    background-color: #e9e9e9;
  }
}

.social-email {
  &:hover, &:focus {
    color: #EA4335;
    border-color: #EA4335;
  }
  &:visited {
    background-color: #e9e9e9;
  }
}

.social-phone {
  &:hover, &:focus {
    color: #43d854;
    border-color: #43d854;
  }
  &:visited {
    background-color: #e9e9e9;
  }
}

.social-github {
  &:hover, &:focus {
    color: #000;
    border-color: #000;
  }
  &:visited {
    background-color: #e9e9e9;
  }
}

.social-twitter {
  &:hover, &:focus {
    color: #55acee;
    border-color: #55acee;
  }
  &:visited {
    background-color: #e9e9e9;
  }
}