.footer {
    text-align      : center;
    letter-spacing  : 0.1em;
    color           : white;
    background-color: black;
    p{
      margin-bottom: 0;
    }
    a {
      font-weight    : bold;
      text-decoration: none;
      color:#DDD4DB
    }
  }