// Colors
$primary  : black;
$secondary: #636161;
$third    : #FFFFFF;
$fourth   : #2a3460;
$fifth    : #FFF; //Social colors
$socials  : ( facebook:#49659F, instagram:#9C785E, linkedin:#1B86BC, email:#EA4335, phone:#43d854 ,github:#000,twitter:#55acee);
