@import "font.css";
@import "colors";
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: $primary;
}

h2 {
  color: $fourth;
}

h3 {
  color: $secondary;
}



section {
  margin-top: -70px !important;
  padding-top: 70px !important;
}
