<div id="main" class="pt-5">
  <div class="row jumbotron">
    <div class="col-md-4"><img src="assets/img/profile.jpeg" alt="Me in a very nice costume" class="img-responsive rounded img-thumbnail"
      /></div>
    <div class="col-md-8">
      <h1 class="text-center">{{info?.name}}</h1>
      <p class="lead text-center">{{info?.jobTitle}}</p>

      <blockquote class="blockquote text-center">
        <p class="mb-0">{{info?.favoriteQuote.content}}</p>
        <footer class="blockquote-footer">{{info?.favoriteQuote.author}}</footer>
      </blockquote>


      <div class="row">
        <ul class="nav nav-pills mx-auto">
          <app-contact *ngFor="let item of contacts" [size]="4" [contact]="item"></app-contact>
        </ul>
      </div>
    </div>
  </div>
</div>
